* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  background-color: #F0EBE2;
}
.close {
  color:  #73292E; 
  opacity: 1;
}
.modal-content {
  background-color: #F0EBE2 !important;

}
.btn {
  background-color: #73292E !important;
}